/**
 * Media Query Style Exercise: Solved;
 **/

 * {
    box-sizing: border-box;
  }
  
  /*
    The background color will be #ccc
    at browser widths above 768px
  */
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-color: lightskyblue;
  }
  
  /*
    The width of the wrapper will be 1024px
    at browser widths above 768px
  */
  .container {
    /* Box-model */
    width: 1024px;
    background-color: lightyellow;
  
    /* Positioning */
    margin: 40px auto;
    padding: 20px;
  }

  @media screen and (max-width: 768px) {
   
  
    .container {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
} 
  
  /* Additional Screen Sizes */
  
  /* Width at 320px and below */
  @media screen and (max-width: 320px) {
  
  
    .container {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
} 
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
   
    .container {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
}