
  body {
    background-color: lightskyblue;
  }
 
  .container {
    /* Box-model */
    width: 1024px;
    background-color: lightyellow;
    border-radius: 10px;
    padding: 20px;
  
    /* Positioning */
    margin: 40px auto;
  }

  .row {
      margin: auto; 
  }

  /* xs screen size */
  @media screen and (max-width: 768px) {

    .container {
      /* Box-model */
      width: 100%;
      margin: auto;
    }
} 
  